<div class= "jumbotron">
 <h1>Cocktails, Longdrinks und andere Mixtgetränke<span class="glyphicon glyphicon-glass"></span></h1>
 <p><%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
 </p>
</div>
<div class="jumbotron eins">
	<p>Ein fröhliches Prosit!</div>
</div>