
<div class="jumbotron">
<h1> Impressum<span class="glyphicon glyphicon-glass"></span></h1>
 <p>Click here to <%= link_to "sign up!", "#" , class: "btn btn-warning btn-default" %></p>
</div>

<div>
<p> 
	<ul>
	<li>Inhaber: Al. kohol</li>
	<li>Schnapsallee </li>
	<li>33333 Bowlingen</li>
	<li>Tel. 777 / 77772222</li>
    </ul>
</p>
</div>
